<header class="bg-red-500 text-white p-4 font-extrabold flex flex-row justify-center items-center gap-2">
  <a class="flex flex-row justify-center items-center gap-2" href="/">
    <.icon name="hero-globe-americas" class="h-8 w-8" />
    <h1>My Travel Journal.</h1>
  </a>
</header>
<main class="">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
